<div fd-grid="" id="grid"
     xiwidth="100%" xiheight="100%"
     ng-model="gridOptions"
     xienable-Active-Cell-Highlight="false"
     xidisplay-Order="header,filter,body,footer,pager"
     xiselection-Mode="singleRow"
     xienable-Print="true"
     xiclear-Selection-On-Data-Provider-Change="false"
     xienable-Preference-Persistence="true"
     xipreference-Persistence-Key="sampleGrid"
     xion-Creation-Complete="gridCreationComplete"
     xishow-Spinner-On-Filter-Page-Sort="true"
     xienable-Selection-Cascade="true"
     xienable-Selection-Bubble="true"
     xienable-Tri-State-Checkbox="true"
     xienable-Eager-Draw="true"
     xienable-Default-Disclosure-Icon="false">
    <level
        xipage-Size="10"
        xienable-Paging="true"
        xichildren-Field="deals"
        xiselected-Key-Field="id"
        xichildren-Count-Field="id"
        xiitem-Load-Mode="server"
        xiitem-Load="gridLevelOneItemLoadHandler"
        xifilter-Page-Sort-Change="gridLevelOneFilterPageSortChangeHandler"
        xifilter-Page-Sort-Mode="server">
        <columns>
            <column xitext-Align="center" xiwidth="30" xicolumn-Width-Mode="fixed" xienable-Expand-Collapse-Icon="true" xicell-Background-Color-Function="indentColumnBackgroundFunction"></column>
            <column xidata-Field="patient" xiheader-Text="Patient" xifilter-Control="TextInput"></column>
            <column xidata-Field="addedDate" xiheader-Text="Service Date" xifilter-Control="TextInput" xilabel-Function="flexiciousNmsp.UIUtils.dataGridFormatDateLabelFunction"></column>
			<column xidata-Field="annualRevenue" xiheader-Text="Amount" xifilter-Control="TextInput"></column>
            <column xidata-Field="payer" xiheader-Text="Payer" xifilter-Control="TextInput"></column>
			<column xidata-Field="status" xiheader-Text="Status" xifilter-Control="TextInput"></column>
			<column xidata-Field="provider" xiheader-Text="Provider" xifilter-Control="TextInput"></column>
			<column xiwidth="100" xicolumn-Width-Mode="fixed" xiselectable="true" xidata-Field="id" xiheader-Text="Claim" xifilter-Control="TextInput"></column>
			<column xidata-Field="addedDate" xiheader-Text="Last Updated" xifilter-Control="TextInput" xilabel-Function="flexiciousNmsp.UIUtils.dataGridFormatDateLabelFunction"></column>
            <column xiheader-Text="EOB" xiitem-Renderer="LinkRenderer"></column>
            <column xienable-Cell-Click-Row-Select="false" xiexclude-From-Settings="true" xiexclud e-From-Export="true" xiexclude-From-Print="true"></column>
        </columns>
        <next-level>
            <level xichildren-Field="invoices"
                   xiselected-Key-Field="id"
                   xiitem-Load-Mode="server"
                   xiforce-Pager-Row="true"
                   xipager-Renderer="ClaimPagerControl"
                   xiitem-Load="gridLevelTwoItemLoadHandler"
                   xifilter-Page-Sort-Mode="server"
                   xifilter-Page-Sort-Change="gridLevelTwoFilterPageSortChangeHandler"  >
                <columns>
                    <column xiwidth="30" xiexclude-From-Print="true" xiexclude-From-Settings="true" xiexclude-From-Export="true" xicolumn-Width-Mode="fixed" xicell-Background-Color-Function="indentColumnBackgroundFunction" xisortable="false" ></column>
                    <column xiwidth="30" xiexclude-From-Print="true" xiexclude-From-Settings="true" xiexclude-From-Export="true" xicolumn-Width-Mode="fixed" xienable-Expand-Collapse-Icon="true" xicell-Background-Color-Function="indentColumnBackgroundFunction2" xisortable="false"></column>
					<column xidata-Field="patient" xiheader-Text="Patient" xifilter-Control="TextInput"></column>
					<column xidata-Field="addedDate" xiheader-Text="Service Date" xifilter-Control="TextInput" xilabel-Function="flexiciousNmsp.UIUtils.dataGridFormatDateLabelFunction"></column>
					<column xidata-Field="annualRevenue" xiheader-Text="Amount" xifilter-Control="TextInput"></column>
					<column xidata-Field="payer" xiheader-Text="Payer" xifilter-Control="TextInput"></column>
					<column xidata-Field="status" xiheader-Text="Status" xifilter-Control="TextInput"></column>
					<column xidata-Field="provider" xiheader-Text="Provider" xifilter-Control="TextInput"></column>
					<column xiwidth="100" xicolumn-Width-Mode="fixed" xiselectable="true" xidata-Field="id" xiheader-Text="Claim" xifilter-Control="TextInput"></column>
					<column xidata-Field="addedDate" xiheader-Text="Last Updated" xifilter-Control="TextInput" xilabel-Function="flexiciousNmsp.UIUtils.dataGridFormatDateLabelFunction"></column>
					<column xiheader-Text="EOB" xiitem-Renderer="LinkRenderer"></column>				
                </columns>
                <next-level>
                    <level
                           xiselected-Key-Field="id"
                           xiforce-Pager-Row="true"
                           xipager-Renderer="ClaimStatusPagerControl"
                           xiitem-Load="gridLevelThreeItemLoadHandler"
                           xifilter-Page-Sort-Mode="server"
                           xifilter-Page-Sort-Change="gridLevelThreeFilterPageSortChangeHandler">
                        <columns>
                            <column xiwidth="60" xiexclude-From-Print="true" xiexclude-From-Settings="true" xiexclude-From-Export="true" xicolumn-Width-Mode="fixed" xicell-Background-Color-Function="indentColumnBackgroundFunction" xisortable="false"></column>
                            <column xiwidth="30" xiexclude-From-Print="true" xiexclude-From-Settings="true" xiexclude-From-Export="true" xicolumn-Width-Mode="fixed" xicell-Background-Color-Function="indentColumnBackgroundFunction2" xisortable="false"></column>
 							<column xieditable="true" xidata-Field="dealDate" xiheader-Text="Date" xifooter-Align="center" xifooter-Label-Function2="getFooterLabel" xilabel-Function="flexiciousNmsp.UIUtils.dataGridFormatDateLabelFunction"></column>
							<column xieditable="true" xidata-Field="source" xiheader-Text="Source" xitext-Align="left" xifooter-Align="right"  xisortable="false"></column>
							<column xieditable="true" xidata-Field="status" xiheader-Text="Status" xitext-Align="left" xifooter-Align="right"  xisortable="false"></column>
							<column xieditable="true" xidata-Field="message" xiheader-Text="Message" xitext-Align="left" xifooter-Align="right"  xisortable="false"></column>
							<column xieditable="true" xidata-Field="payerCorrespondence" xiheader-Text="Payer Correspondence" xitext-Align="left" xifooter-Align="right"  xisortable="false"></column>
                        </columns>
                       <!-- <next-level>
                            <level
                                xifilter-Page-Sort-Mode="server"
                                xiforce-Pager-Row="false"
                                xifilter-Page-Sort-Change="gridLevelFourFilterPageSortChangeHandler">
                                <columns>
                                    <column xiwidth="90" xicolumn-Width-Mode="fixed" xicell-Background-Color-Function="indentColumnBackgroundFunction" xisortable="false"></column>
                                    <column xiwidth="30" xicolumn-Width-Mode="fixed" xienable-Expand-Collapse-Icon="true" xicell-Background-Color-Function="indentColumnBackgroundFunction2" xisortable="false"></column>
                                    <column xieditable="true" xidata-Field="lineItemDescription" xiheader-Text="Line Item Description" xifooter-Label-Function2="getFooterLabel" xifooter-Align="center" xisortable="false"></column>
                                    <column xieditable="true" xidata-Field="lineItemAmount" xiheader-Text="Line Item Amount" xitext-Align="left" xifooter-Label-Function2="getFooterLabel" xifooter-Align="right" xilabel-Function="flexiciousNmsp.UIUtils.dataGridFormatCurrencyLabelFunction" xisortable="false"></column>
                                </columns>
                            </level>
                        </next-level>-->
                    </level>
                </next-level>
            </level>
        </next-level>
    </level>
</div>